[submodule "Fah-Kwang"]
	path = Fah-Kwang
	url = https://github.com/cadsondemak/Fah-Kwang.git
[submodule "Commissioner"]
	path = Commissioner
	url = https://github.com/kosbarts/Commissioner.git
[submodule "Grenze"]
	path = Grenze
	url = https://github.com/Omnibus-Type/Grenze.git
[submodule "Jost"]
	path = Jost
	url = https://github.com/indestructible-type/Jost.git
[submodule "Newsreader"]
	path = Newsreader
	url = https://github.com/productiontype/Newsreader.git
[submodule "Saira"]
	path = Saira
	url = https://github.com/Omnibus-Type/Saira.git
[submodule "Fira"]
	path = Fira
	url = https://github.com/mozilla/Fira.git
[submodule "Spectral"]
	path = Spectral
	url = https://github.com/Gerhobbelt/Spectral.git
[submodule "Georama"]
	path = Georama
	url = https://github.com/GerHobbelt/Georama.git
[submodule "FiraCode"]
	path = FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "Zilla-Slab"]
	path = Zilla-Slab
	url = https://github.com/GerHobbelt/zilla-slab.git
[submodule "Cinzel"]
	path = Cinzel
	url = https://github.com/GerHobbelt/Cinzel.git
[submodule "Junicode"]
	path = Junicode
	url = https://github.com/GerHobbelt/Junicode-New.git
[submodule "Oswald"]
	path = Oswald
	url = https://github.com/GerHobbelt/OswaldFont.git
[submodule "Cabin"]
	path = Cabin
	url = https://github.com/GerHobbelt/Cabin.git
[submodule "YoungSerif"]
	path = YoungSerif
	url = https://github.com/GerHobbelt/YoungSerif.git
[submodule "Abhaya-Libre"]
	path = Abhaya-Libre
	url = https://github.com/GerHobbelt/abhaya-libre-font.git
[submodule "Ostrich-Sans"]
	path = Ostrich-Sans
	url = https://github.com/GerHobbelt/ostrich-sans.git
[submodule "League-Gothic"]
	path = League-Gothic
	url = https://github.com/GerHobbelt/league-gothic.git
[submodule "Raleway"]
	path = Raleway
	url = https://github.com/GerHobbelt/Raleway.git
[submodule "League-Spartan"]
	path = League-Spartan
	url = https://github.com/GerHobbelt/league-spartan.git
[submodule "Goudy-Bookletter-1911"]
	path = Goudy-Bookletter-1911
	url = https://github.com/GerHobbelt/goudy-bookletter-1911.git
[submodule "Bagnard-Sans"]
	path = Bagnard-Sans
	url = https://github.com/GerHobbelt/Bagnard-Sans.git
[submodule "Josefin-Sans"]
	path = Josefin-Sans
	url = https://github.com/GerHobbelt/josefinsans.git
