[submodule "Fah-Kwang"]
	path = Fah-Kwang
	url = https://github.com/Gerhobbelt/Fah-Kwang.git
[submodule "Commissioner"]
	path = Commissioner
	url = https://github.com/kosbarts/Commissioner.git
[submodule "Grenze"]
	path = Grenze
	url = https://github.com/Omnibus-Type/Grenze.git
[submodule "Jost"]
	path = Jost
	url = https://github.com/indestructible-type/Jost.git
[submodule "Newsreader"]
	path = Newsreader
	url = https://github.com/productiontype/Newsreader.git
[submodule "Saira"]
	path = Saira
	url = https://github.com/Omnibus-Type/Saira.git
[submodule "Fira"]
	path = Fira
	url = https://github.com/Gerhobbelt/Fira.git
[submodule "Spectral"]
	path = Spectral
	url = https://github.com/Gerhobbelt/Spectral.git
[submodule "Georama"]
	path = Georama
	url = https://github.com/GerHobbelt/Georama.git
[submodule "FiraCode"]
	path = FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "Zilla-Slab"]
	path = Zilla-Slab
	url = https://github.com/GerHobbelt/zilla-slab.git
[submodule "Cinzel"]
	path = Cinzel
	url = https://github.com/GerHobbelt/Cinzel.git
[submodule "Junicode"]
	path = Junicode
	url = https://github.com/GerHobbelt/Junicode-New.git
[submodule "Oswald"]
	path = Oswald
	url = https://github.com/GerHobbelt/OswaldFont.git
[submodule "Cabin"]
	path = Cabin
	url = https://github.com/GerHobbelt/Cabin.git
[submodule "YoungSerif"]
	path = YoungSerif
	url = https://github.com/GerHobbelt/YoungSerif.git
[submodule "Abhaya-Libre"]
	path = Abhaya-Libre
	url = https://github.com/GerHobbelt/abhaya-libre-font.git
[submodule "Ostrich-Sans"]
	path = Ostrich-Sans
	url = https://github.com/GerHobbelt/ostrich-sans.git
[submodule "League-Gothic"]
	path = League-Gothic
	url = https://github.com/GerHobbelt/league-gothic.git
[submodule "Raleway"]
	path = Raleway
	url = https://github.com/GerHobbelt/Raleway.git
[submodule "League-Spartan"]
	path = League-Spartan
	url = https://github.com/GerHobbelt/league-spartan.git
[submodule "Goudy-Bookletter-1911"]
	path = Goudy-Bookletter-1911
	url = https://github.com/GerHobbelt/goudy-bookletter-1911.git
[submodule "Bagnard-Sans"]
	path = Bagnard-Sans
	url = https://github.com/GerHobbelt/Bagnard-Sans.git
[submodule "Josefin-Sans"]
	path = Josefin-Sans
	url = https://github.com/GerHobbelt/josefinsans.git
[submodule "EBGaramond12"]
	path = EBGaramond12
	url = https://github.com/GerHobbelt/EBGaramond12.git
[submodule "Exetegue"]
	path = Exetegue
	url = https://github.com/scannerlicker/Exetegue.git
[submodule "Lexend"]
	path = Lexend
	url = https://github.com/GerHobbelt/lexend.git
[submodule "Libertinus"]
	path = Libertinus
	url = https://github.com/GerHobbelt/libertinus.git
[submodule "Libre-Baskerville"]
	path = Libre-Baskerville
	url = https://github.com/GerHobbelt/Libre-Baskerville.git
[submodule "League-Mono"]
	path = League-Mono
	url = git@github.com:GerHobbelt/league-mono.git
[submodule "cascadia-code"]
	path = cascadia-code
	url = git@github.com:microsoft/cascadia-code.git
[submodule "LxgwNeoZhiSong"]
	path = LxgwNeoZhiSong
	url = git@github.com:lxgw/LxgwNeoZhiSong.git
[submodule "smiley-sans"]
	path = smiley-sans
	url = git@github.com:atelier-anchor/smiley-sans.git
[submodule "redacted-font"]
	path = redacted-font
	url = git@github.com:christiannaths/redacted-font.git
[submodule "devicon"]
	path = devicon
	url = git@github.com:devicons/devicon.git
[submodule "modern-font-stacks"]
	path = modern-font-stacks
	url = git@github.com:GerHobbelt/modern-font-stacks.git
[submodule "mona-sans"]
	path = mona-sans
	url = git@github.com:github/mona-sans.git
[submodule "monaspace"]
	path = monaspace
	url = git@github.com:githubnext/monaspace.git
[submodule "3270font"]
	path = 3270font
	url = git@github.com:rbanffy/3270font.git
[submodule "Iosevka"]
	path = Iosevka
	url = git@github.com:GerHobbelt/Iosevka.git
[submodule "font"]
	path = font
	url = git@github.com:calcom/font.git
[submodule "public-sans"]
	path = public-sans
	url = git@github.com:uswds/public-sans.git
[submodule "noto-emoji"]
	path = noto-emoji
	url = git@github.com:googlefonts/noto-emoji.git
[submodule "LxgwWenKai"]
	path = LxgwWenKai
	url = git@github.com:lxgw/LxgwWenKai.git
[submodule "Ysabeau"]
	path = Ysabeau
	url = git@github.com:CatharsisFonts/Ysabeau.git
[submodule "sparks"]
	path = sparks
	url = git@github.com:aftertheflood/sparks.git
[submodule "Inconsolata"]
	path = Inconsolata
	url = git@github.com:googlefonts/Inconsolata.git
[submodule "Mengshen-pinyin-font"]
	path = Mengshen-pinyin-font
	url = git@github.com:MaruTama/Mengshen-pinyin-font.git
[submodule "Ubuntu-Sans-Mono-fonts"]
	path = Ubuntu-Sans-Mono-fonts
	url = git@github.com:canonical/Ubuntu-Sans-Mono-fonts.git
[submodule "sudo-font"]
	path = sudo-font
	url = git@github.com:jenskutilek/sudo-font.git
[submodule "Ubuntu-Sans-fonts"]
	path = Ubuntu-Sans-fonts
	url = git@github.com:canonical/Ubuntu-Sans-fonts.git
[submodule "pragmatapro"]
	path = pragmatapro
	url = git@github.com:GerHobbelt/pragmatapro.git
[submodule "Fraunces"]
	path = Fraunces
	url = git@github.com:GerHobbelt/Fraunces.git
