
@font-face {
    font-family: '3270SemiCondensed';
    src: url('3270font/build/3270SemiCondensed-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '3270Condensed';
    src: url('3270font/build/3270Condensed-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '3270';
    src: url('3270font/build/3270-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		