

    /*
    OTF
    */

    

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/30-06-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/30-06-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/30-06-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/30-06-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/30-06-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre';
    src: url('Abhaya-Libre/documentation/development/26-06-2015/AbhayaLibre-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Latin 80';
    src: url('Abhaya-Libre/documentation/development/26-06-2015/Abhaya-Latin-Regular-80.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/25-08-2015/otf/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/25-08-2015/otf/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/25-08-2015/otf/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/25-08-2015/otf/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/25-08-2015/otf/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/AbhayaLibre-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre combined';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/AbhayaLibre-ExtraBold-combined.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Latin with Sinhala 85';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/Abhaya-Latin-Regular-with-Sinhala-85.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Latin with Sinhala 80';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/Abhaya-Latin-Regular-with-Sinhala-80.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Latin 85';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/Abhaya-Latin-Regular-85.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Latin 80';
    src: url('Abhaya-Libre/documentation/development/23-06-2015/Abhaya-Latin-Regular-80.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/22-07-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/22-07-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/22-07-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/22-07-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/22-07-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/15-07-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/15-07-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/15-07-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/15-07-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/15-07-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/10-08-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/10-08-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/10-08-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/10-08-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/10-08-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/07-07-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/07-07-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/07-07-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/07-07-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/07-07-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/03-08-15/AbhayaLibreLatin-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/03-08-15/AbhayaLibreLatin-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/03-08-15/AbhayaLibreLatin-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/03-08-15/AbhayaLibreLatin-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Abhaya Libre Latin';
    src: url('Abhaya-Libre/documentation/development/03-08-15/AbhayaLibreLatin-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        