
	
	/*
	abril-fatface
	*/
	
	

@font-face {
    font-family: 'AbrilFatface';
    src: url('abril-fatface/Abril_Fatface/AbrilFatface-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_SemiItalic';
    src: url('abril-fatface/Abril Display/Abril_Text_SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Semi';
    src: url('abril-fatface/Abril Display/Abril_Text_SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril Display/Abril_Text_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril Display/Abril_Text_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril Display/Abril_Text_ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril Display/Abril_Text_ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril Display/Abril_Text_BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril Display/Abril_Text_Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Fatface_Italic';
    src: url('abril-fatface/Abril Display/Abril_Fatface_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Fatface';
    src: url('abril-fatface/Abril Display/Abril_Fatface.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_SemiItalic';
    src: url('abril-fatface/Abril Display/Abril_Display_SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Semi';
    src: url('abril-fatface/Abril Display/Abril_Display_SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril Display/Abril_Display_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril Display/Abril_Display_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril Display/Abril_Display_ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril Display/Abril_Display_ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril Display/Abril_Display_BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril Display/Abril_Display_Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril Display/Abril_Display_BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril Display/Abril_Display_Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_SemiItalic';
    src: url('abril-fatface/Abril/Abril_Text_SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Semi';
    src: url('abril-fatface/Abril/Abril_Text_SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril/Abril_Text_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril/Abril_Text_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril/Abril_Text_ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril/Abril_Text_ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_Italic';
    src: url('abril-fatface/Abril/Abril_Text_BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Text_';
    src: url('abril-fatface/Abril/Abril_Text_Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Fatface_Italic';
    src: url('abril-fatface/Abril/Abril_Fatface_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Fatface';
    src: url('abril-fatface/Abril/Abril_Fatface.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_SemiItalic';
    src: url('abril-fatface/Abril/Abril_Display_SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Semi';
    src: url('abril-fatface/Abril/Abril_Display_SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril/Abril_Display_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril/Abril_Display_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril/Abril_Display_ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril/Abril_Display_ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril/Abril_Display_BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril/Abril_Display_Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_Italic';
    src: url('abril-fatface/Abril/Abril_Display_BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Abril_Display_';
    src: url('abril-fatface/Abril/Abril_Display_Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		