
	
	/*
	academico
	*/
	
	

@font-face {
    font-family: 'Academico.otf';
    src: url('academico/AcademicoRegular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AcademicoItalic.otf';
    src: url('academico/AcademicoItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AcademicoItalic.otf';
    src: url('academico/AcademicoBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Academico.otf';
    src: url('academico/AcademicoBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		