
	
	/*
	andada
	*/
	
	

@font-face {
    font-family: 'AndadaSC';
    src: url('andada/AndadaSC-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC-Italic';
    src: url('andada/AndadaSC-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC-Italic';
    src: url('andada/AndadaSC-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC';
    src: url('andada/AndadaSC-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada';
    src: url('andada/Andada-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-Italic';
    src: url('andada/Andada-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-Italic';
    src: url('andada/Andada-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada';
    src: url('andada/Andada-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		