
	
	/*
	andada
	*/
	
	

@font-face {
    font-family: 'AndadaSC-.otf';
    src: url('andada/AndadaSC-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC-Italic.otf';
    src: url('andada/AndadaSC-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC-Italic.otf';
    src: url('andada/AndadaSC-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'AndadaSC-.otf';
    src: url('andada/AndadaSC-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-.otf';
    src: url('andada/Andada-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-Italic.otf';
    src: url('andada/Andada-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-Italic.otf';
    src: url('andada/Andada-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Andada-.otf';
    src: url('andada/Andada-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		