
	
	/*
	archistico
	*/
	
	

@font-face {
    font-family: 'Archistico_Simple.ttf';
    src: url('archistico/Archistico_Simple.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Archistico_.ttf';
    src: url('archistico/Archistico_Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		