
	
	/*
	Big_Shoulders_Display
	*/
	
	

@font-face {
    font-family: 'BigShouldersDisplay-VariableFont_wght.ttf';
    src: url('Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Thin.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-Semi.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-Extra.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-ExtraLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'BigShouldersDisplay-.ttf';
    src: url('Big_Shoulders_Display/static/BigShouldersDisplay-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		