
	
	/*
	bookman
	*/
	
	

@font-face {
    font-family: 'URWBookman-Italic.otf';
    src: url('bookman/URWBookman-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWBookman-.otf';
    src: url('bookman/URWBookman-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWBookman-DemiItalic.otf';
    src: url('bookman/URWBookman-DemiItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWBookman-Demi.otf';
    src: url('bookman/URWBookman-Demi.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		