

    /*
    OTF
    */

    

@font-face {
    font-family: 'braille pixel hc';
    src: url('braille/braille_pixel_hc.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'braille pinboard hc';
    src: url('braille/braille_pinboard_hc.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'braille latin hc';
    src: url('braille/braille_latin_hc.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'braille grid hc';
    src: url('braille/braille_grid_hc.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        