
	
	/*
	braille
	*/
	
	

@font-face {
    font-family: 'braille_pixel_hc.otf';
    src: url('braille/braille_pixel_hc.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'braille_pinboard_hc.otf';
    src: url('braille/braille_pinboard_hc.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'braille_latin_hc.otf';
    src: url('braille/braille_latin_hc.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'braille_grid_hc.otf';
    src: url('braille/braille_grid_hc.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		