

    /*
    TTF
    */

    

@font-face {
    font-family: 'Cascadia Code VTT';
    src: url('cascadia-code/sources/vtt_data/CascadiaCode_VTT.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Cascadia Code VTT';
    src: url('cascadia-code/sources/vtt_data/CascadiaCodeItalic_VTT.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

        