
@font-face {
    font-family: 'Catamaran VF';
    src: url('Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 100 900;
    font-style: normal;
}
