
	
	/*
	Caviar-Dreams
	*/
	
	

@font-face {
    font-family: 'Caviar_Dreams_.ttf';
    src: url('Caviar-Dreams/Caviar_Dreams_Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'CaviarDreams_Italic.ttf';
    src: url('Caviar-Dreams/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'CaviarDreams_Italic.ttf';
    src: url('Caviar-Dreams/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'CaviarDreams.ttf';
    src: url('Caviar-Dreams/CaviarDreams.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		