

    /*
    OTF
    */

    

@font-face {
    font-family: 'CF-D-DIN PRO 900';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 800';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 700';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 600';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 500';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 400';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 300';
    src: url('CF-D-DIN-PRO/OTF/Normal-Italic/D-DIN-PRO-Italic-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 900';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 800';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 700';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 600';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 500';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 400';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO 300';
    src: url('CF-D-DIN-PRO/OTF/Normal/D-DIN-PRO-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 900';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 800';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 700';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 600';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 500';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 400';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 300';
    src: url('CF-D-DIN-PRO/OTF/Exp-Italic/D-DIN-PRO-Exp-Italic-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 900';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 800';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 700';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 600';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 500';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 400';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Exp 300';
    src: url('CF-D-DIN-PRO/OTF/Exp/D-DIN-PRO-Exp-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 900';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 800';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 700';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 600';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 500';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 400';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 300';
    src: url('CF-D-DIN-PRO/OTF/Condensed-Italic/D-DIN-PRO-Condensed-Italic-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 900';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-900-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 800';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-800-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 700';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-700-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 600';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-600-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 500';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 400';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'CF-D-DIN PRO Condensed 300';
    src: url('CF-D-DIN-PRO/OTF/Condensed/D-DIN-PRO-Condensed-300-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        