@font-face {
  font-family: 'Cinzel Decorative';
  src: url('Cinzel/fonts/ttf/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('Cinzel/fonts/ttf/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('Cinzel/fonts/ttf/CinzelDecorative-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
