
	
	/*
	clarity_city_next
	*/
	
	

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-ThinItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-SemiItalic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Semi.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-RegularItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-ExtraItalic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-ExtraLightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Extra.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-ExtraLight.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-Italic.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ClarityCity-.otf';
    src: url('clarity_city_next/fonts/OpenType/ClarityCity-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		