
	
	/*
	comforter_brush
	*/
	
	

@font-face {
    font-family: 'ComforterBrush-.otf';
    src: url('comforter_brush/fonts/otf/ComforterBrush-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		