

    /*
    OTF
    */

    

@font-face {
    font-family: 'Comforter Brush';
    src: url('comforter_brush/fonts/otf/ComforterBrush-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        