

    /*
    OTF
    */

    

@font-face {
    font-family: 'Comforter';
    src: url('comforter/fonts/otf/Comforter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        