

    /*
    OTF
    */

    

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue Angular';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Comic Neue';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        