
	
	/*
	comicneue
	*/
	
	

@font-face {
    font-family: 'ComicNeueAngular-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeueAngular-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeueAngular-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeueAngular-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeueAngular-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeueAngular-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue-Angular/ComicNeueAngular-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-Italic.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'ComicNeue-.otf';
    src: url('comicneue/Fonts/OTF/ComicNeue/ComicNeue-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		