
@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner Loud';
    src: url('Commissioner/fonts/webfonts/CommissionerLoud-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

