

    /*
    VARIABLE
    */

    

@font-face {
    font-family: 'Commissioner FLAR.VOLM.WGHT VF';
    src: url('Commissioner/fonts/variable/Commissioner[FLAR,VOLM,wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    font-variation-settings: 'FLAR' var(--text-flar);
    font-variation-settings: 'VOLM' var(--text-volm);
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Commissioner FLAR.VOLM.SLNT.WGHT VF';
    src: url('Commissioner/fonts/variable/Commissioner[FLAR,VOLM,slnt,wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: oblique;
    font-variation-settings: 'FLAR' var(--text-flar);
    font-variation-settings: 'VOLM' var(--text-volm);
    
    
    
    font-variation-settings: 'SLNT' var(--text-slnt);
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Commissioner FLAR.VOLM.WGHT VF';
    src: url('Commissioner/fonts/variable/Commissioner-Italic[FLAR,VOLM,wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: italic;
    font-variation-settings: 'FLAR' var(--text-flar);
    font-variation-settings: 'VOLM' var(--text-volm);
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        