
@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/Commissioner-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

