
@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Commissioner';
    src: url('Commissioner/fonts/webfonts/woff2/CommissionerFlair-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

