
	
	/*
	d_din
	*/
	
	

@font-face {
    font-family: 'D-DINExp.otf';
    src: url('d_din/D-DINExp.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DINExp-Italic.otf';
    src: url('d_din/D-DINExp-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DINExp-.otf';
    src: url('d_din/D-DINExp-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DINCondensed.otf';
    src: url('d_din/D-DINCondensed.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DINCondensed-.otf';
    src: url('d_din/D-DINCondensed-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DIN.otf';
    src: url('d_din/D-DIN.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DIN-Italic.otf';
    src: url('d_din/D-DIN-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'D-DIN-.otf';
    src: url('d_din/D-DIN-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		