

    /*
    TTF
    */

    

@font-face {
    font-family: 'Devonshire';
    src: url('Devonshire/Devonshire-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        