

    /*
    OTF
    */

    

@font-face {
    font-family: 'Didactic';
    src: url('didactic/fonts/static/otf/Didactic-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Didactic';
    src: url('didactic/fonts/static/otf/Didactic-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Didactic';
    src: url('didactic/fonts/static/otf/Didactic-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Didactic';
    src: url('didactic/fonts/static/otf/Didactic-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Didactic';
    src: url('didactic/fonts/static/otf/Didactic-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        