

    /*
    OTF
    */

    

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        