
@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Regular.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Italic.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Medium.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-MediumItalic.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-SemiBold.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-SemiBoldItalic.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-Bold.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-BoldItalic.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-ExtraBold.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'EBGaramond12';
    src: url('EBGaramond12/fonts/otf/EBGaramond-ExtraBoldItalic.otf') format('opentype'),
         url('EBGaramond12/fonts/ttf/EBGaramond-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

