
	
	/*
	Exetegue
	*/
	
	

@font-face {
    font-family: 'Exetegue-.otf';
    src: url('Exetegue/OTF/Exetegue-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Exetegue-.otf';
    src: url('Exetegue/OTF/Exetegue-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Exetegue-.otf';
    src: url('Exetegue/OTF/Exetegue-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		