
@font-face {
    font-family: 'Exetegue';
    src: url('Exetegue/OTF/Exetegue-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Exetegue';
    src: url('Exetegue/OTF/Exetegue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

		

@font-face {
    font-family: 'Exetegue';
    src: url('Exetegue/OTF/Exetegue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

		