
@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-ExtraLight.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-ExtraLight.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLight.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLight.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-ExtraLightItalic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-ExtraLightItalic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLightItalic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLightItalic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-Light.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-Light.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-Light.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-Light.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-LightItalic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-LightItalic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-LightItalic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-LightItalic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-Regular.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-Regular.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-Regular.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-Regular.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-Italic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-Italic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-Italic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-Italic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-Medium.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-Medium.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-Medium.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-Medium.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-MediumItalic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-MediumItalic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-MediumItalic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-MediumItalic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-SemiBold.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-SemiBold.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBold.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBold.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-SemiBoldItalic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-SemiBoldItalic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBoldItalic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBoldItalic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-Bold.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-Bold.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-Bold.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-Bold.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fah Kwang';
    src: url('Fah-Kwang/fonts/Fahkwang-BoldItalic.eot');
    src: url('Fah-Kwang/fonts/Fahkwang-BoldItalic.eot') format('embedded-opentype'),
         url('Fah-Kwang/fonts/Fahkwang-BoldItalic.woff2') format('woff2'),
         url('Fah-Kwang/fonts/Fahkwang-BoldItalic.woff') format('woff'),
         url('Fah-Kwang/fonts/Fahkwang-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

