
// font weights gleaned from the table at https://github.com/bBoxType/FiraGO#firago-font-weights
// (while we placed 'Hair' at weight 90 vs. 'Thin' at weight 100)

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Hair.eot');
    src: url('Fira/eot/FiraSansCondensed-Hair.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Hair.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Hair.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Hair.ttf') format('truetype');
    font-weight: 90;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-HairItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-HairItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-HairItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-HairItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-HairItalic.ttf') format('truetype');
    font-weight: 90;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Thin.eot');
    src: url('Fira/eot/FiraSansCondensed-Thin.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Thin.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Thin.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-ThinItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-ThinItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-ThinItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-ThinItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-UltraLight.eot');
    src: url('Fira/eot/FiraSansCondensed-UltraLight.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-UltraLight.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-UltraLight.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-UltraLightItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-UltraLightItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-UltraLightItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-UltraLightItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-ExtraLight.eot');
    src: url('Fira/eot/FiraSansCondensed-ExtraLight.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-ExtraLight.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-ExtraLight.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-ExtraLightItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-ExtraLightItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-ExtraLightItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-ExtraLightItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 250;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Light.eot');
    src: url('Fira/eot/FiraSansCondensed-Light.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Light.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Light.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-LightItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-LightItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-LightItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-LightItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Book.eot');
    src: url('Fira/eot/FiraSansCondensed-Book.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Book.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Book.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Book.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-BookItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-BookItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-BookItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-BookItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-BookItalic.ttf') format('truetype');
    font-weight: 350;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Regular.eot');
    src: url('Fira/eot/FiraSansCondensed-Regular.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Regular.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Regular.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Italic.eot');
    src: url('Fira/eot/FiraSansCondensed-Italic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Italic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Italic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Medium.eot');
    src: url('Fira/eot/FiraSansCondensed-Medium.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Medium.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Medium.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-MediumItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-MediumItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-MediumItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-MediumItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-SemiBold.eot');
    src: url('Fira/eot/FiraSansCondensed-SemiBold.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-SemiBold.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-SemiBold.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-SemiBoldItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-SemiBoldItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-SemiBoldItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-SemiBoldItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Bold.eot');
    src: url('Fira/eot/FiraSansCondensed-Bold.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Bold.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Bold.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-BoldItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-BoldItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-BoldItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-BoldItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-ExtraBold.eot');
    src: url('Fira/eot/FiraSansCondensed-ExtraBold.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-ExtraBold.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-ExtraBold.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-ExtraBoldItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-ExtraBoldItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-ExtraBoldItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-Heavy.eot');
    src: url('Fira/eot/FiraSansCondensed-Heavy.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-Heavy.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-Heavy.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: url('Fira/eot/FiraSansCondensed-HeavyItalic.eot');
    src: url('Fira/eot/FiraSansCondensed-HeavyItalic.eot') format('embedded-opentype'),
         url('Fira/woff2/FiraSansCondensed-HeavyItalic.woff2') format('woff2'),
         url('Fira/woff/FiraSansCondensed-HeavyItalic.woff') format('woff'),
         url('Fira/ttf/FiraSansCondensed-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

