@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode/distr/woff2/Fira Code/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode/distr/woff2/Fira Code/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode/distr/woff2/Fira Code/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode/distr/woff2/Fira Code/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode/distr/woff2/Fira Code/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
