

:root {
  --text-width: 100%;
  --text-weight: 400;
  --text-size: 32px;

  /* this dot-matrix printer font shows up in entries which do not correctly reference their custom font... */
  --font-showcase-fallback-font: 'matricha';
}



article {
  margin: 0 auto;
  max-width: 76vw;
  padding: 1em;
}
h1 {
  font-size: calc(1.2 * var(--text-size));
}
p {
  font-size: var(--text-size);
  padding: 0 1em;
  line-height: 1.5em;
}
.glyph {
  margin: 1em auto;
  text-align: center;
  font-size: calc(2.5 * var(--text-size));
}

pre {
  font-family: inherit;
}
h1, .glyph {
  font-family: inherit;
}
p {
  font-family: inherit;
}
    
.showcase-another-font {
}

hr {
  border: solid red 1em;
}

.dig-normal {
  font-variant-numeric: normal;
}
.dig-ordinal {
  font-variant-numeric: ordinal;
}
.dig-slashed {
  font-variant-numeric: slashed-zero;
}
.dig-lining {
  font-variant-numeric: lining-nums;         /* <numeric-figure-values> */
}
.dig-oldstyle {
  font-variant-numeric: oldstyle-nums;       /* <numeric-figure-values> */
}
.dig-proportional {
  font-variant-numeric: proportional-nums;   /* <numeric-spacing-values> */
}
.dig-tabular {
  font-variant-numeric: tabular-nums;        /* <numeric-spacing-values> */
}


@media (max-width: 640px) {
  p {
    padding: 0;
    font-size: calc(0.75 * var(--text-size));
  }
}





div.firacode-font { 
	font-family: "Fira Code", var(--font-showcase-fallback-font); 
    line-height: 1.5em;

    .code {
      font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
      text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
      width: 30em;
      margin: 5em auto;
      white-space: pre-wrap;
      word-break: break-all;
    }
    .light { font-weight: 300; }
    .regular { font-weight: 400; }
    .medium { font-weight: 500; }
    .semibold { font-weight: 600; }
    .bold { font-weight: 700; }
    .variable { 
      font-family: 'Fira Code VF'; 
      font-weight: 400;
      font-weight: var(--text-weight);
      font-stretch: var(--text-width);
      font-size: var(--text-size);
      line-height: 1.5em;
    }
    i { font-style: normal; color: #c33; }
    b { font-weight: inherit; color: #c33; }
}
















div.fira-font {
	font-family: 'Fira Sans', var(--font-showcase-fallback-font);
	font-weight: 300;
	overflow-x: hidden;
}

div.fira-compressed-font {
	font-family: 'Fira Sans Compressed', var(--font-showcase-fallback-font);
	font-weight: 300;
	overflow-x: hidden;
}

div.fira-condensed-font {
	font-family: 'Fira Sans Condensed', var(--font-showcase-fallback-font);
	font-weight: 300;
	overflow-x: hidden;
}


div.fira-mono-font {
	font-family: 'Fira Mono', var(--font-showcase-fallback-font);
	font-weight: 400;
	overflow-x: hidden;
}

div.fira-code-font {
	font-family: 'Fira Code VF', var(--font-showcase-fallback-font);
	font-weight: 400;
	overflow-x: hidden;
}












div.economica-font {
  font-family: 'Economica', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}








div.fah-kwang-font {
  font-family: 'Fah Kwang', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}








div.commissioner-font {
  font-family: 'Commissioner VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;

  font-variation-settings: 'FLAR' var(--text-flar);
  font-variation-settings: 'VOLM' var(--text-volm);
}








div.commissioner-flare-font {
  font-family: 'Commissioner VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;

  font-variation-settings: 'FLAR' var(--text-flar);
  font-variation-settings: 'VOLM' var(--text-volm);
}





div.commissioner-loud-font {
  font-family: 'Commissioner VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;

  font-variation-settings: 'FLAR' var(--text-flar);
  font-variation-settings: 'VOLM' var(--text-volm);
}






div.georama-font {
  font-family: 'Georama VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;

  font-weight: var(--text-weight);
  font-stretch: var(--text-width);
}




div.grenze-font {
  font-family: 'Grenze VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}



div.jost-font {
  font-family: 'Jost VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}





div.newsreader-tiny-font {
  font-family: 'Newsreader VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;

  font-variation-settings: 'OPSZ' var(--text-opsz);
}


div.newsreader-font {
  font-family: 'Newsreader VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;

  font-variation-settings: 'OPSZ' var(--text-opsz);
}


div.newsreader-titling-font {
  font-family: 'Newsreader VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;

  font-variation-settings: 'OPSZ' var(--text-opsz);
}





div.saira-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-semi-condensed-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-condensed-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-extra-condensed-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-ultra-condensed-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-semi-expanded-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-expanded-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}

div.saira-variable-font {
  font-family: 'Saira VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;

  font-weight: var(--text-weight);
  font-stretch: var(--text-width);
  
  font-variation-settings: 'WDTH' var(--text-wdth);
}




div.spectral-font {
  font-family: 'Spectral', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}


div.spectral-smallcaps-font {
  font-family: 'Spectral SC', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}


div.zilla-slab-font {
  font-family: 'Zilla Slab', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}



div.cinzel-font {
  font-family: 'Cinzel VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}


div.cinzel-decorative-font {
  font-family: 'Cinzel Decorative VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}




div.garamond-font {
  font-family: 'EBGaramond VF', var(--font-showcase-fallback-font);
  font-weight: 400;
  overflow-x: hidden;
}











@import "./01-Digit";
@import "./3270font";
@import "./Abhaya-Libre Variable";
@import "./abril-fatface";
@import "./academico";
@import "./Accuratist";
@import "./alata";
@import "./alfa-slab";
@import "./allura";
@import "./andada";
@import "./archistico";
@import "./Bagnard";
@import "./Bagnard-Sans";
@import "./Bebas";
@import "./Big_Shoulders_Display Variable";
@import "./bookman";
@import "./braille";
@import "./Cabin Variable";
@import "./caramel";
@import "./cascadia-code";
@import "./CAT_linz";
@import "./cat_reporter";
@import "./CAT_rhythmus";
@import "./Catamaran Variable";
@import "./Caviar-Dreams";
@import "./Cinzel Variable";
@import "./clarity_city_next";
@import "./comforter";
@import "./comforter_brush";
@import "./comicneue";
@import "./Commissioner Variable";
@import "./d_din";
@import "./d_din_pro";
@import "./devicon";
@import "./Devonshire";
@import "./didactic Variable";
@import "./DotMatrix-Regular";
@import "./EBGaramond12 Variable";
@import "./Economica";
@import "./Edo.SZ.Regular";
@import "./ErnestHuge";
@import "./Exetegue";
@import "./fachada";
@import "./Fah-Kwang";
@import "./FFF-Tusj";
@import "./Fira";
@import "./FiraCode Variable";
@import "./font Variable";
@import "./FPD_pressure";
@import "./Fraunces Variable";
@import "./Fredericka_the_Great";
@import "./gandhi_sans_and_serif";
@import "./Georama Variable";
@import "./GFS_Bodoni";
@import "./GFS_Didot";
@import "./GFS_Elpis";
@import "./GFS_Fleischman";
@import "./GFS_Garaldus";
@import "./Girassol";
@import "./Goudy-Bookletter-1911";
@import "./Grenze Variable";
@import "./hooligan";
@import "./hurricane";
@import "./im-fell-flowers-1";
@import "./im-fell-flowers-2";
@import "./Inconsolata Variable";
@import "./Josefin-Sans Variable";
@import "./Jost Variable";
@import "./Junicode Variable";
@import "./Kingthings-Printingkit";
@import "./Komika";
@import "./Kumbh_Sans Variable";
@import "./League-Gothic";
@import "./League-Mono Variable";
@import "./League-Spartan Variable";
@import "./Lexend Variable";
@import "./Libertinus";
@import "./Libre_Bodoni Variable";
@import "./Libre-Baskerville Variable";
@import "./LxgwNeoZhiSong";
@import "./LxgwWenKai";
@import "./Ma_Shan_Zheng";
@import "./Marcellus_SC";
@import "./Matricha";
@import "./Mengshen-pinyin-font";
@import "./metropolis";
@import "./mona-sans Variable";
@import "./monaspace Variable";
@import "./new_century_schoolbook";
@import "./Newsreader Variable";
@import "./NOKIA-5110-FontSet";
@import "./noto-emoji";
@import "./nuernberg";
@import "./nymphette";
@import "./offenbacher_reform";
@import "./Oleo_Script_Swash_Caps";
@import "./osp-din";
@import "./Ostrich-Sans";
@import "./Oswald";
@import "./Outfit Variable";
@import "./Phudu Variable";
@import "./Pirata_One";
@import "./Playfair_Display";
@import "./Playfair_Display_SC";
@import "./Poller_One";
@import "./pragmasevka";
@import "./prodelt_co";
@import "./pt_mono";
@import "./pt-serif";
@import "./public-sans Variable";
@import "./qt_avanti";
@import "./qt_caslan";
@import "./qt_old_goudy";
@import "./qt_school_century";
@import "./qt_weise";
@import "./Raleway Variable";
@import "./readex_pro Variable";
@import "./redacted-font Variable";
@import "./redaction";
@import "./Rokkitt Variable";
@import "./Rondal";
@import "./Saira Variable";
@import "./sangha_kali";
@import "./Sansita_Swashed Variable";
@import "./SirucaPictograms";
@import "./smiley-sans";
@import "./sparks";
@import "./Spectral";
@import "./Spicy.Noodles";
@import "./Subjectivity";
@import "./sudo-font Variable";
@import "./Symbol-Signs";
@import "./tomsontalks";
@import "./topography";
@import "./torrefarfan";
@import "./troubleside";
@import "./Ubuntu-Sans-fonts Variable";
@import "./Ubuntu-Sans-Mono-fonts Variable";
@import "./UnifrakturCook";
@import "./Unna";
@import "./urw_gothic";
@import "./YoungSerif Variable";
@import "./Ysabeau Variable";
@import "./Zhi_Mang_Xing";
@import "./Zilla-Slab";
