

:root {
  --text-width: 100%;
  --text-weight: 400;
  --text-size: 32px;
}



article {
  margin: 0 auto;
  max-width: 76vw;
  padding: 1em;
}
h1 {
  font-size: calc(1.2 * var(--text-size));
}
p {
  font-size: var(--text-size);
  padding: 0 1em;
  line-height: 1.5em;
}
.glyph {
  margin: 1em auto;
  text-align: center;
  font-size: calc(2.5 * var(--text-size));
}

.dig-normal {
  font-variant-numeric: normal;
}
.dig-ordinal {
  font-variant-numeric: ordinal;
}
.dig-slashed {
  font-variant-numeric: slashed-zero;
}
.dig-lining {
  font-variant-numeric: lining-nums;         /* <numeric-figure-values> */
}
.dig-oldstyle {
  font-variant-numeric: oldstyle-nums;       /* <numeric-figure-values> */
}
.dig-proportional {
  font-variant-numeric: proportional-nums;   /* <numeric-spacing-values> */
}
.dig-tabular {
  font-variant-numeric: tabular-nums;        /* <numeric-spacing-values> */
}


@media (max-width: 640px) {
  p {
    padding: 0;
    font-size: calc(0.75 * var(--text-size));
  }
}





.firacode-font { 
	font-family: "Fira Code"; 
  line-height: 1.5em;

    .code {
      font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
      text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
      width: 30em;
      margin: 5em auto;
      white-space: pre-wrap;
      word-break: break-all;
    }
    .light { font-weight: 300; }
    .regular { font-weight: 400; }
    .medium { font-weight: 500; }
    .semibold { font-weight: 600; }
    .bold { font-weight: 700; }
    .variable { 
      font-family: 'Fira Code VF'; 
      font-weight: 400;
      font-weight: var(--text-weight);
      font-stretch: var(--text-width);
      font-size: var(--text-size);
      line-height: 1.5em;
    }
    i { font-style: normal; color: #c33; }
    b { font-weight: inherit; color: #c33; }
}
















.fira-font {
	font-family: 'Fira Sans';
	font-weight: 300;
	overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Fira Sans';
    }
    p {
      font-family: 'Fira Sans';
    }
    .mono {
      font-family: 'Fira Mono';
    }
}











.economica-font {
  font-family: 'Economica';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Economica';
    }
    p {
      font-family: 'Economica';
    }
}








.fah-kwang-font {
  font-family: 'Fah Kwang';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Fah Kwang';
    }
    p {
      font-family: 'Fah Kwang';
    }
}








.commissioner-font {
  font-family: 'Commissioner';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Commissioner';
    }
    p {
      font-family: 'Commissioner';
    }
}








.commissioner-flare-font {
  font-family: 'Commissioner Flare';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Commissioner Flare';
    }
    p {
      font-family: 'Commissioner Flare';
    }
}





.commissioner-loud-font {
  font-family: 'Commissioner Loud';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Commissioner Loud';
    }
    p {
      font-family: 'Commissioner Loud';
    }
}






.georama-font {
  font-family: 'Georama VF';
  font-weight: 400;
  overflow-x: hidden;

  font-weight: var(--text-weight);
  font-stretch: var(--text-width);
    
    h1, .glyph {
      font-family: 'Georama VF';

      font-weight: var(--text-weight);
      font-stretch: var(--text-width);
    }
    p {
      font-family: 'Georama VF';
    }
}




.grenze-font {
  font-family: 'Grenze';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Grenze';
    }
    p {
      font-family: 'Grenze';
    }
}



.jost-font {
  font-family: 'Jost';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Jost';
    }
    p {
      font-family: 'Jost';
    }
}





.newsreader-tiny-font {
  font-family: 'Newsreader 6pt';
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;

    
    h1, .glyph {
      font-family: 'Newsreader 6pt';
      line-height: 1.5em;
    }
    p {
      font-family: 'Newsreader 6pt';
      line-height: 1.5em;
    }
}


.newsreader-font {
  font-family: 'Newsreader 16pt';
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;

    
    h1, .glyph {
      font-family: 'Newsreader 16pt';
      line-height: 1.5em;
    }
    p {
      font-family: 'Newsreader 16pt';
      line-height: 1.5em;
    }
}


.newsreader-titling-font {
  font-family: 'Newsreader 72pt';
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5em;
    
    h1, .glyph {
      font-family: 'Newsreader 72pt';
      line-height: 1.5em;
    }
    p {
      font-family: 'Newsreader 72pt';
      line-height: 1.5em;
    }
}





.saira-font {
  font-family: 'Saira';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira';
    }
    p {
      font-family: 'Saira';
    }
}

.saira-semi-condensed-font {
  font-family: 'Saira Semi Condensed';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Semi Condensed';
    }
    p {
      font-family: 'Saira Semi Condensed';
    }
}

.saira-condensed-font {
  font-family: 'Saira Condensed';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Condensed';
    }
    p {
      font-family: 'Saira Condensed';
    }
}

.saira-extra-condensed-font {
  font-family: 'Saira Extra Condensed';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Extra Condensed';
    }
    p {
      font-family: 'Saira Extra Condensed';
    }
}

.saira-ultra-condensed-font {
  font-family: 'Saira Ultra Condensed';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Ultra Condensed';
    }
    p {
      font-family: 'Saira Ultra Condensed';
    }
}

.saira-semi-expanded-font {
  font-family: 'Saira Semi Expanded';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Semi Expanded';
    }
    p {
      font-family: 'Saira Semi Expanded';
    }
}

.saira-expanded-font {
  font-family: 'Saira Expanded';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Saira Expanded';
    }
    p {
      font-family: 'Saira Expanded';
    }
}

.saira-variable-font {
  font-family: 'Saira VF';
  font-weight: 400;
  overflow-x: hidden;

  font-weight: var(--text-weight);
  font-stretch: var(--text-width);
    
    h1, .glyph {
      font-family: 'Saira VF';

      font-weight: var(--text-weight);
      font-stretch: var(--text-width);
    }
    p {
      font-family: 'Saira VF';
    }
}




.spectral-font {
  font-family: 'Spectral';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Spectral';
    }
    p {
      font-family: 'Spectral';
    }
}


.spectral-smallcaps-font {
  font-family: 'Spectral SmallCaps';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Spectral SmallCaps';
    }
    p {
      font-family: 'Spectral SmallCaps';
    }
}


.zilla-slab-font {
  font-family: 'Zilla Slab';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Zilla Slab';
    }
    p {
      font-family: 'Zilla Slab';
    }
}



.cinzel-font {
  font-family: 'Cinzel';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Cinzel';
    }
    p {
      font-family: 'Cinzel';
    }
}


.cinzel-decorative-font {
  font-family: 'Cinzel Decorative';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'Cinzel Decorative';
    }
    p {
      font-family: 'Cinzel Decorative';
    }
}




.garamond-font {
  font-family: 'EBGaramond12';
  font-weight: 400;
  overflow-x: hidden;

    
    h1, .glyph {
      font-family: 'EBGaramond12';
    }
    p {
      font-family: 'EBGaramond12';
    }
}











@import "./3270font";
@import "./Abhaya-Libre Variable";
@import "./abril-fatface";
@import "./academico";
@import "./Accuratist";
@import "./alata";
@import "./alfa-slab";
@import "./allura";
@import "./andada";
@import "./archistico";
@import "./Bagnard";
@import "./Bagnard-Sans";
@import "./Bebas";
@import "./Big_Shoulders_Display";
@import "./bookman";
@import "./braille";
@import "./Cabin Variable";
@import "./caramel";
@import "./CAT_linz";
@import "./cat_reporter";
@import "./CAT_rhythmus";
@import "./Catamaran";
@import "./Caviar-Dreams";
@import "./Cinzel Decoarative Variable";
@import "./Cinzel Decorative";
@import "./Cinzel Variable";
@import "./Cinzel";
@import "./clarity_city_next";
@import "./comforter";
@import "./comforter_brush";
@import "./comicneue";
@import "./Commissioner Flare";
@import "./Commissioner Loud";
@import "./Commissioner Variable";
@import "./Commissioner";
@import "./d_din";
@import "./d_din_pro";
@import "./devicon";
@import "./Devonshire";
@import "./didactic Variable";
@import "./EBGaramond12 Variable";
@import "./EBGaramond12";
@import "./Economica";
@import "./Edo SZ";
@import "./ErnestHuge";
@import "./Exetegue";
@import "./fachada";
@import "./Fah-Kwang";
@import "./FFF-Tusj";
@import "./Fira Code Variable";
@import "./Fira Code";
@import "./Fira Mono";
@import "./Fira Sans Compressed";
@import "./Fira Sans Condensed";
@import "./Fira Sans";
@import "./FiraCode Variable";
@import "./font-specimen";
@import "./FPD_pressure";
@import "./Fraunces Variable";
@import "./Fredericka_the_Great";
@import "./gandhi_sans_and_serif";
@import "./Georama Condensed";
@import "./Georama Expanded";
@import "./Georama Extended";
@import "./Georama Extra Condensed";
@import "./Georama Extra Expanded";
@import "./Georama Extra Extended";
@import "./Georama Semi Condensed";
@import "./Georama Variable";
@import "./Georama";
@import "./GFS_Bodoni";
@import "./GFS_Didot";
@import "./GFS_Elpis";
@import "./GFS_Fleischman";
@import "./GFS_Garaldus";
@import "./Girassol";
@import "./Goudy-Bookletter-1911";
@import "./Grenze Variable";
@import "./Grenze";
@import "./hooligan";
@import "./hurricane";
@import "./im-fell-flowers-1";
@import "./im-fell-flowers-2";
@import "./Inconsolata Variable";
@import "./Josefin-Sans Variable";
@import "./Jost Variable";
@import "./Jost";
@import "./Junicode Variable";
@import "./Kingthings-Printingkit";
@import "./Komika";
@import "./Kumbh_Sans";
@import "./League-Gothic";
@import "./League-Mono Variable";
@import "./League-Spartan Variable";
@import "./Lexend Variable";
@import "./Libertinus-fonts";
@import "./Libre_Baskerville-fonts";
@import "./Libre_Bodoni";
@import "./LXGW Wen Kai Mono Hangul";
@import "./LXGW Wen Kai Mono Latin";
@import "./LXGW Wen Kai Mono";
@import "./Ma_Shan_Zheng";
@import "./Marcellus_SC";
@import "./Mengshen pinyin";
@import "./metropolis";
@import "./mona-sans Variable";
@import "./monaspace Variable";
@import "./New Century Schoolbook";
@import "./Newsreader 16pt";
@import "./Newsreader 6pt";
@import "./Newsreader 72pt";
@import "./Newsreader Variable";
@import "./noto-emoji";
@import "./nuernberg";
@import "./nymphette";
@import "./offenbacher_reform";
@import "./Oleo_Script_Swash_Caps";
@import "./osp-din";
@import "./Ostrich-Sans";
@import "./Oswald";
@import "./Outfit";
@import "./Phudu";
@import "./Pirata_One";
@import "./Playfair_Display";
@import "./Playfair_Display_SC";
@import "./Poller_One";
@import "./prodelt_co";
@import "./pt_mono";
@import "./pt-serif";
@import "./public-sans Variable";
@import "./qt_avanti";
@import "./qt_caslan";
@import "./qt_old_goudy";
@import "./qt_school_century";
@import "./qt_weise";
@import "./Raleway Variable";
@import "./readex_pro Variable";
@import "./redacted-font Variable";
@import "./redaction";
@import "./Rokkitt";
@import "./Rondal";
@import "./Saira Condensed";
@import "./Saira Expanded";
@import "./Saira Extra Condensed";
@import "./Saira Semi Condensed";
@import "./Saira Semi Expanded";
@import "./Saira Ultra Condensed";
@import "./Saira Variable";
@import "./Saira";
@import "./sangha_kali";
@import "./Sansita_Swashed";
@import "./SirucaPictograms";
@import "./sparks";
@import "./Spectral SmallCaps";
@import "./Spectral";
@import "./Spicy.Noodles";
@import "./Subjectivity";
@import "./sudo-font Variable";
@import "./Symbol-Signs";
@import "./tomsontalks";
@import "./topography";
@import "./torrefarfan";
@import "./troubleside";
@import "./Ubuntu Sans Mono Variable";
@import "./Ubuntu Sans Variable";
@import "./UnifrakturCook";
@import "./Unna";
@import "./URW Gothic";
@import "./YoungSerif";
@import "./Ysabeau Variable";
@import "./Zhi_Mang_Xing";
@import "./Zilla Slab";
