
@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-ThinOblique.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-SemiBoldOblique.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-LightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-BoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

		

@font-face {
    font-family: 'FPD Pressure';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

		