
	
	/*
	FPD_pressure
	*/
	
	

@font-face {
    font-family: 'FPDPressure-Oblique.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-ThinOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-SemiOblique.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-SemiBoldOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-Semi.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-Oblique.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-Oblique.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-LightOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-Oblique.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-BoldOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'FPDPressure-.otf';
    src: url('FPD_pressure/Fonts/otf/FPDPressure-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		