
	
	/*
	Fraunces
	*/
	
	

@font-face {
    font-family: 'Fraunces VF';
    src: url('Fraunces/fonts/Fraunces[SOFT,WONK,opsz,wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-Italic VF';
    src: url('Fraunces/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/2018_to_Early_2019/Drawbot/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/2018_to_Early_2019/Drawbot/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191213/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191118/fonts/Fraunces_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191118/fonts/FrauncesItalic_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis_test-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191103/2019-11-03ec/Fonts/Fraunces_GoofyAxis_test-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191017/fonts/Fraunces_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191017/fonts/FrauncesItalic_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191014/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191014/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191007/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191007/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191003/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/191003/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_SpecimenInstances-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190930/fonts/Fraunces_SpecimenInstances-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic_SpecimenInstances-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190930/fonts/FrauncesItalic_SpecimenInstances-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190926/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190926/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190923/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190923/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190917/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190917/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190913/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190913/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190903/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190903/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190808/fonts/Fraunces_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190808/fonts/FrauncesItalic_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic2-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190808/fonts/FrauncesItalic2-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190808/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190805/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190805/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190802/fonts/Fraunces_GoofyAxis-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190802/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190802/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190730/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/proofs/190730/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'FrauncesItalic-VF.ttf VF';
    src: url('Fraunces/documentation/family_planning/initial_tests/06_15_19_instanceconsistency/fonts/FrauncesItalic-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces-VF.ttf VF';
    src: url('Fraunces/documentation/family_planning/initial_tests/06_15_19_instanceconsistency/fonts/Fraunces-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Fraunces_GoofyAxis_test-VF.ttf VF';
    src: url('Fraunces/documentation/family_planning/final_designspace/Fonts/Fraunces_GoofyAxis_test-VF.ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		