

    /*
    OTF
    */

    

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSuperSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces9ptSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces9pt';
    src: url('Fraunces/fonts/otf/Fraunces9pt-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSuperSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces72ptSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces72pt';
    src: url('Fraunces/fonts/otf/Fraunces72pt-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Super Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSuperSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt Soft';
    src: url('Fraunces/fonts/otf/Fraunces144ptSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Fraunces144pt';
    src: url('Fraunces/fonts/otf/Fraunces144pt-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        