

    /*
    OTF
    */

    

@font-face {
    font-family: 'Gandhi Serif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Serif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Serif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Serif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Sans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Sans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Sans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Gandhi Sans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        