
	
	/*
	gandhi_sans_and_serif
	*/
	
	

@font-face {
    font-family: 'GandhiSerif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSerif-Italic';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSerif-Italic';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSerif';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSerif-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSans-Italic';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSans-Italic';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GandhiSans';
    src: url('gandhi_sans_and_serif/TipografiaGandhi/GandhiSans-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		