
@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Thin.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-ThinItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-ExtraLight.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-ExtraLightItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Light.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-LightItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Regular.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Italic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Medium.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-MediumItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-SemiBold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-SemiBoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Bold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-BoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-ExtraBold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-ExtraBoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-Black.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Extended';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExtended-BlackItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExtended-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

