
@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Thin.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Thin.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-ThinItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-ThinItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-ExtraLight.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-ExtraLight.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-ExtraLightItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-ExtraLightItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Light.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Light.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-LightItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-LightItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Regular.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Regular.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Italic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Italic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Medium.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Medium.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-MediumItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-MediumItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-SemiBold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-SemiBold.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-SemiBoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-SemiBoldItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Bold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Bold.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-BoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-BoldItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-ExtraBold.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-ExtraBold.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-ExtraBoldItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-ExtraBoldItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-Black.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-Black.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Georama Expanded';
    src: url('Georama/fonts/Static/WOFF2/GeoramaExpanded-BlackItalic.woff2') format('woff2'),
         url('Georama/fonts/Static/WOFF/GeoramaExpanded-BlackItalic.woff') format('woff'),
         url('Georama/fonts/Static/TTF/GeoramaExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

