

    /*
    OTF
    */

    

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidot.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        