
@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

		

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

		

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidotBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFS Didot';
    src: url('GFS_Didot/GFSDidot.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		