
	
	/*
	GFS_Fleischman
	*/
	
	

@font-face {
    font-family: 'GFSFleischman.otf';
    src: url('GFS_Fleischman/GFSFleischman.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		