
	
	/*
	GFS_Didot
	*/
	
	

@font-face {
    font-family: 'GFSDidotItalic.otf';
    src: url('GFS_Didot/GFSDidotItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSDidotItalic.otf';
    src: url('GFS_Didot/GFSDidotBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSDidot.otf';
    src: url('GFS_Didot/GFSDidotBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSDidot.otf';
    src: url('GFS_Didot/GFSDidot.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		