
	
	/*
	GFS_Bodoni
	*/
	
	

@font-face {
    font-family: 'GFSBodoniIt.otf';
    src: url('GFS_Bodoni/GFSBodoniIt.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSBodoniIt.otf';
    src: url('GFS_Bodoni/GFSBodoniBoldIt.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSBodoni.otf';
    src: url('GFS_Bodoni/GFSBodoniBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'GFSBodoni.otf';
    src: url('GFS_Bodoni/GFSBodoni.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		