

    /*
    OTF
    */

    

@font-face {
    font-family: 'GFSFleischman';
    src: url('GFS_Fleischman/GFSFleischman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        