
	
	/*
	Goudy-Bookletter-1911
	*/
	
	

@font-face {
    font-family: 'GoudyBookletter1911.otf';
    src: url('Goudy-Bookletter-1911/GoudyBookletter1911.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		