
@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Thin.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Thin.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Thin.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Thin.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ThinItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ThinItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-ThinItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-ThinItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraLight.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraLight.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-ExtraLight.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-ExtraLight.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraLightItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraLightItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-ExtraLightItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-ExtraLightItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Light.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Light.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Light.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Light.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-LightItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-LightItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-LightItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-LightItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Regular.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Regular.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Regular.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Regular.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Italic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Italic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Italic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Italic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Medium.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Medium.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Medium.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Medium.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-MediumItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-MediumItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-MediumItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-MediumItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-SemiBold.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-SemiBold.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-SemiBold.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-SemiBold.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-SemiBoldItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-SemiBoldItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-SemiBoldItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-SemiBoldItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Bold.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Bold.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Bold.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Bold.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-BoldItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-BoldItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-BoldItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-BoldItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraBold.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraBold.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-ExtraBold.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-ExtraBold.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraBoldItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-ExtraBoldItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-ExtraBoldItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Black.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-Black.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-Black.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-Black.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Grenze';
    src: url('Grenze/fonts-/webfonts/eot/Grenze-BlackItalic.eot');
    src: url('Grenze/fonts-/webfonts/eot/Grenze-BlackItalic.eot') format('embedded-opentype'),
         url('Grenze/fonts-/webfonts/woff2/Grenze-BlackItalic.woff2') format('woff2'),
         url('Grenze/fonts-/webfonts/woff/Grenze-BlackItalic.woff') format('woff'),
         url('Grenze/fonts-/ttf/Grenze-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

