

    /*
    OTF
    */

    

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Grenze';
    src: url('Grenze/fonts/otf/Grenze-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        