
	
	/*
	hurricane
	*/
	
	

@font-face {
    font-family: 'Hurricane-.otf';
    src: url('hurricane/fonts/otf/Hurricane-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		