

    /*
    OTF
    */

    

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin-Sans/fonts/otf/JosefinSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        