
	
	/*
	Kingthings-Printingkit
	*/
	
	

@font-face {
    font-family: 'Kinggs_Printingkit.ttf';
    src: url('Kingthings-Printingkit/Kingthings_Printingkit.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		