

    /*
    TTF
    */

    

@font-face {
    font-family: 'Kingthings Printingkit';
    src: url('Kingthings-Printingkit/Kingthings_Printingkit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        