
	
	/*
	Kumbh_Sans
	*/
	
	

@font-face {
    font-family: 'KumbhSans-VariableFont_YOPQ,wght.ttf';
    src: url('Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Thin.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-Semi.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-Extra.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-ExtraLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-ExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'KumbhSans-.ttf';
    src: url('Kumbh_Sans/static/KumbhSans-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		