

    /*
    TTF
    */

    

@font-face {
    font-family: 'Last Resort HE';
    src: url('last-resort-font/released/LastResortHE-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Last Resort';
    src: url('last-resort-font/released/LastResort-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        