

    /*
    OTF
    */

    

@font-face {
    font-family: 'League Gothic';
    src: url('League-Gothic/instance_otf/LeagueGothic-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Gothic';
    src: url('League-Gothic/instance_otf/LeagueGothic-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('League-Gothic/instance_otf/LeagueGothic-CondensedItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('League-Gothic/instance_otf/LeagueGothic-Condensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        