
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('League-Gothic/instance_otf/LeagueGothic-CondensedItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('League-Gothic/instance_otf/LeagueGothic-Condensed.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

		