

    /*
    OTF
    */

    

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/instance_otf/LeagueSpartan-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'League Spartan';
    src: url('League-Spartan/fonts/otf/LeagueSpartan-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        