
	
	/*
	League-Gothic
	*/
	
	

@font-face {
    font-family: 'LeagueGothic-.otf';
    src: url('League-Gothic/instance_otf/LeagueGothic-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LeagueGothic-Italic.otf';
    src: url('League-Gothic/instance_otf/LeagueGothic-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LeagueGothic-CondensedItalic.otf';
    src: url('League-Gothic/instance_otf/LeagueGothic-CondensedItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LeagueGothic-Condensed.otf';
    src: url('League-Gothic/instance_otf/LeagueGothic-Condensed.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		