
	
	/*
	Lexend
	*/
	
	

@font-face {
    font-family: 'LexendZetta VF';
    src: url('Lexend/fonts/zetta/variable/LexendZetta[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendTera VF';
    src: url('Lexend/fonts/tera/variable/LexendTera[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendPeta VF';
    src: url('Lexend/fonts/peta/variable/LexendPeta[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendMega VF';
    src: url('Lexend/fonts/mega/variable/LexendMega[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'Lexend VF';
    src: url('Lexend/fonts/lexend/variable/Lexend[HEXP,wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendGiga VF';
    src: url('Lexend/fonts/giga/variable/LexendGiga[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendExa VF';
    src: url('Lexend/fonts/exa/variable/LexendExa[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		

@font-face {
    font-family: 'LexendDeca VF';
    src: url('Lexend/fonts/deca/variable/LexendDeca[wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

		