

    /*
    VARIABLE
    */

    

@font-face {
    font-family: 'Lexend Zetta VF';
    src: url('Lexend/fonts/zetta/variable/LexendZetta[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Tera VF';
    src: url('Lexend/fonts/tera/variable/LexendTera[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Peta VF';
    src: url('Lexend/fonts/peta/variable/LexendPeta[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Mega VF';
    src: url('Lexend/fonts/mega/variable/LexendMega[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend VF';
    src: url('Lexend/fonts/lexend/variable/Lexend[HEXP,wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Giga VF';
    src: url('Lexend/fonts/giga/variable/LexendGiga[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Exa VF';
    src: url('Lexend/fonts/exa/variable/LexendExa[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lexend Deca VF';
    src: url('Lexend/fonts/deca/variable/LexendDeca[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
    
    
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        