

    /*
    OTF
    */

    

@font-face {
    font-family: 'Libertinus Serif Initials';
    src: url('Libertinus/static/OTF/LibertinusSerifInitials-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif Display';
    src: url('Libertinus/static/OTF/LibertinusSerifDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Serif';
    src: url('Libertinus/static/OTF/LibertinusSerif-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Sans';
    src: url('Libertinus/static/OTF/LibertinusSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Sans';
    src: url('Libertinus/static/OTF/LibertinusSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Sans';
    src: url('Libertinus/static/OTF/LibertinusSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Mono';
    src: url('Libertinus/static/OTF/LibertinusMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Math';
    src: url('Libertinus/static/OTF/LibertinusMath-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libertinus Keyboard';
    src: url('Libertinus/static/OTF/LibertinusKeyboard-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        