
	
	/*
	Libertinus-fonts
	*/
	
	

@font-face {
    font-family: 'LibertinusSerifInitials';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerifInitials-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerifDisplay';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerifDisplay-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif-SemiItalic';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-SemiboldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif-Semi';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif-Italic';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif-Italic';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSerif';
    src: url('Libertinus-fonts/static/OTF/LibertinusSerif-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSans';
    src: url('Libertinus-fonts/static/OTF/LibertinusSans-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSans-Italic';
    src: url('Libertinus-fonts/static/OTF/LibertinusSans-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusSans';
    src: url('Libertinus-fonts/static/OTF/LibertinusSans-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusMono';
    src: url('Libertinus-fonts/static/OTF/LibertinusMono-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusMath';
    src: url('Libertinus-fonts/static/OTF/LibertinusMath-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibertinusKeyboard';
    src: url('Libertinus-fonts/static/OTF/LibertinusKeyboard-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		