

    /*
    OTF
    */

    

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Libre Baskerville';
    src: url('Libre-Baskerville/fonts/otf/LibreBaskerville-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        