
	
	/*
	Libre_Baskerville-fonts
	*/
	
	

@font-face {
    font-family: 'LibreBaskerville-.ttf';
    src: url('Libre_Baskerville-fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBaskerville-Italic.ttf';
    src: url('Libre_Baskerville-fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBaskerville-.ttf';
    src: url('Libre_Baskerville-fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		