
	
	/*
	Libre_Bodoni
	*/
	
	

@font-face {
    font-family: 'LibreBodoni-VariableFont_wght.ttf';
    src: url('Libre_Bodoni/LibreBodoni-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-Italic-VariableFont_wght.ttf';
    src: url('Libre_Bodoni/LibreBodoni-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-SemiItalic.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-SemiBoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-Semi.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-Italic.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-Italic.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-Italic.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LibreBodoni-.ttf';
    src: url('Libre_Bodoni/static/LibreBodoni-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		