
@font-face {
    font-family: 'LXGW Mun Hae Hangul (Spilt_Strokes)';
    src: url('LxgwWenKai/documentation/Hangul/LXGWMunHaeHangul-Regular_Spilt_Strokes.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Mun Hae Hangul R';
    src: url('LxgwWenKai/documentation/Hangul/LXGWMunHaeHangul-R.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Mun Hae Hangul L';
    src: url('LxgwWenKai/documentation/Hangul/LXGWMunHaeHangul-L.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Mun Hae Hangul B';
    src: url('LxgwWenKai/documentation/Hangul/LXGWMunHaeHangul-B.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		