
@font-face {
    font-family: 'LXGW Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/MonoLatin/LxgwWenKaiMonoLatin-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/MonoLatin/LxgwWenKaiMonoLatin-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/MonoLatin/LxgwWenKaiMonoLatin-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		
