

    /*
    TTF
    */

    

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Wen Kai';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Wen Kai';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Wen Kai';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lxgw Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/old_files/MonoLatin/LxgwWenKaiMonoLatin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lxgw Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/old_files/MonoLatin/LxgwWenKaiMonoLatin-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Lxgw Wen Kai Mono Latin';
    src: url('LxgwWenKai/documentation/old_files/MonoLatin/LxgwWenKaiMonoLatin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Mun Hae Hangul Spilt Strokes';
    src: url('LxgwWenKai/documentation/old_files/Hangul/LXGWMunHaeHangul-Regular_Spilt_Strokes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Mun Hae Hangul R';
    src: url('LxgwWenKai/documentation/old_files/Hangul/LXGWMunHaeHangul-R.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Mun Hae Hangul L';
    src: url('LxgwWenKai/documentation/old_files/Hangul/LXGWMunHaeHangul-L.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'LXGW Mun Hae Hangul B';
    src: url('LxgwWenKai/documentation/old_files/Hangul/LXGWMunHaeHangul-B.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        