
@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'LXGW Wen Kai Mono';
    src: url('LxgwWenKai/fonts/TTF/LXGWWenKai-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

