

    /*
    TTF
    */

    

@font-face {
    font-family: 'Ma Shan Zheng';
    src: url('Ma_Shan_Zheng/MaShanZheng-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        