
	
	/*
	Ma_Shan_Zheng
	*/
	
	

@font-face {
    font-family: 'MaShanZheng-.ttf';
    src: url('Ma_Shan_Zheng/MaShanZheng-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		