
	
	/*
	Marcellus_SC
	*/
	
	

@font-face {
    font-family: 'MarcellusSC-.ttf';
    src: url('Marcellus_SC/MarcellusSC-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		