

    /*
    TTF
    */

    

@font-face {
    font-family: 'Mengshen Han Serif';
    src: url('Mengshen-pinyin-font/released/Mengshen-HanSerif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Mengshen Handwritten';
    src: url('Mengshen-pinyin-font/released/Mengshen-Handwritten.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        