
	
	/*
	Mengshen-pinyin-font
	*/
	
	

@font-face {
    font-family: 'SawarabiMincho';
    src: url('Mengshen-pinyin-font/res/fonts/SawarabiMincho-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'XiaolaiMonoSC-without-Hangul';
    src: url('Mengshen-pinyin-font/res/fonts/handwritten/XiaolaiMonoSC-without-Hangul-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'latin-alpabet-of-SetoFont-SP';
    src: url('Mengshen-pinyin-font/res/fonts/handwritten/latin-alpabet-of-SetoFont-SP.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SourceHanSerifCN';
    src: url('Mengshen-pinyin-font/res/fonts/han-serif/SourceHanSerifCN-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'mplus-1m';
    src: url('Mengshen-pinyin-font/res/fonts/han-serif/mplus-1m-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Mengshen-HanSerif';
    src: url('Mengshen-pinyin-font/outputs/Mengshen-HanSerif.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Mengshen-Handwritten';
    src: url('Mengshen-pinyin-font/outputs/Mengshen-Handwritten.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		