
	
	/*
	metropolis
	*/
	
	

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-ThinItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-SemiItalic';
    src: url('metropolis/Fonts/OpenType/Metropolis-SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Semi';
    src: url('metropolis/Fonts/OpenType/Metropolis-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-RegularItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-ExtraItalic';
    src: url('metropolis/Fonts/OpenType/Metropolis-ExtraLightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Extra';
    src: url('metropolis/Fonts/OpenType/Metropolis-ExtraLight.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-ExtraBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis-Italic';
    src: url('metropolis/Fonts/OpenType/Metropolis-BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis/Fonts/OpenType/Metropolis-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		