

    /*
    TTF
    */

    

@font-face {
    font-family: 'N01 Digit';
    src: url('01-Digit/01 Digit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        