
@font-face {
    font-family: 'New Century Schoolbook';
    src: url('new_century_schoolbook/C059-Roman.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'New Century Schoolbook';
    src: url('new_century_schoolbook/C059-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

		

@font-face {
    font-family: 'New Century Schoolbook';
    src: url('new_century_schoolbook/C059-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

		

@font-face {
    font-family: 'New Century Schoolbook';
    src: url('new_century_schoolbook/C059-BdIta.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

		