

    /*
    OTF
    */

    

@font-face {
    font-family: 'C059 Roman';
    src: url('new_century_schoolbook/C059-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'C059';
    src: url('new_century_schoolbook/C059-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'C059';
    src: url('new_century_schoolbook/C059-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'C059';
    src: url('new_century_schoolbook/C059-BdIta.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

        