
@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-ExtraLight.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-ExtraLight.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-ExtraLightItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-ExtraLightItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-Light.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-Light.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-LightItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-LightItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-Regular.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-Regular.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-Italic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-Italic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-Medium.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-Medium.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-MediumItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-MediumItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-SemiBold.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-SemiBold.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-SemiBoldItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-SemiBoldItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-Bold.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-Bold.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-BoldItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-BoldItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-ExtraBold.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-ExtraBold.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'NewsReader 72pt';
    src: url('NewsReader/fonts/Static/woff2/Newsreader72pt-ExtraBoldItalic.woff2') format('woff2'),
         url('NewsReader/fonts/Static/woff/Newsreader72pt-ExtraBoldItalic.woff') format('woff'),
         url('NewsReader/fonts/Static/ttf/Newsreader72pt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
