

    /*
    TTF
    */

    

@font-face {
    font-family: 'Nokia.5110.Font Set';
    src: url('NOKIA-5110-FontSet/Nokia.5110.FontSet.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        