
	
	/*
	noto-emoji
	*/
	
	

@font-face {
    font-family: 'NotoColorEmoji_WindowsCompatible';
    src: url('noto-emoji/fonts/NotoColorEmoji_WindowsCompatible.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'NotoColorEmoji';
    src: url('noto-emoji/fonts/NotoColorEmoji.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'NotoColorEmoji-noflags';
    src: url('noto-emoji/fonts/NotoColorEmoji-noflags.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'NotoColorEmoji-flagsonly';
    src: url('noto-emoji/fonts/NotoColorEmoji-flagsonly.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'NotoColorEmoji-emojicompat';
    src: url('noto-emoji/fonts/NotoColorEmoji-emojicompat.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Noto-COLRv1';
    src: url('noto-emoji/fonts/Noto-COLRv1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Noto-COLRv1-noflags';
    src: url('noto-emoji/fonts/Noto-COLRv1-noflags.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Noto-COLRv1-emojicompat';
    src: url('noto-emoji/fonts/Noto-COLRv1-emojicompat.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		