

    /*
    TTF
    */

    

@font-face {
    font-family: 'Noto Color Emoji Windows Compatible';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji_WindowsCompatible.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto Color Emoji noflags';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto Color Emoji flagsonly';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-flagsonly.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto Color Emoji emojicompat';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-emojicompat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto COL Rv1';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto COL Rv1 noflags';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Noto COL Rv1 emojicompat';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1-emojicompat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        