

    /*
    TTF
    */

    

@font-face {
    font-family: 'Noto 3 D watch';
    src: url('noto-emoji/3D/fonts/Noto-3D-watch.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D watch noflags';
    src: url('noto-emoji/3D/fonts/Noto-3D-watch-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D watch flagsonly';
    src: url('noto-emoji/3D/fonts/Noto-3D-watch-flagsonly.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 192';
    src: url('noto-emoji/3D/fonts/Noto-3D-192.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 192 noflags';
    src: url('noto-emoji/3D/fonts/Noto-3D-192-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 192 flagsonly';
    src: url('noto-emoji/3D/fonts/Noto-3D-192-flagsonly.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 128';
    src: url('noto-emoji/3D/fonts/Noto-3D-128.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 128 noflags';
    src: url('noto-emoji/3D/fonts/Noto-3D-128-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto 3 D 128 flagsonly';
    src: url('noto-emoji/3D/fonts/Noto-3D-128-flagsonly.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto Color Emoji Windows Compatible';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji_WindowsCompatible.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto Color Emoji noflags';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto Color Emoji flagsonly';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-flagsonly.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto Color Emoji emojicompat';
    src: url('noto-emoji/2D/fonts/NotoColorEmoji-emojicompat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto COLRv1';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto COLRv1 noflags';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1-noflags.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Noto COLRv1 emojicompat';
    src: url('noto-emoji/2D/fonts/Noto-COLRv1-emojicompat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        