
	
	/*
	offenbacher_reform
	*/
	
	

@font-face {
    font-family: 'Offenbacher Reform CAT';
    src: url('offenbacher_reform/Offenbacher Reform CAT.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		