
	
	/*
	Oleo_Script_Swash_Caps
	*/
	
	

@font-face {
    font-family: 'OleoScriptSwashCaps-.ttf';
    src: url('Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OleoScriptSwashCaps-.ttf';
    src: url('Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		