
	
	/*
	Ostrich-Sans
	*/
	
	

@font-face {
    font-family: 'OstrichSansRounded-.otf';
    src: url('Ostrich-Sans/OstrichSansRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSansInline-.otf';
    src: url('Ostrich-Sans/OstrichSansInline-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSansInline-Italic.otf';
    src: url('Ostrich-Sans/OstrichSansInline-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSansDashed-.otf';
    src: url('Ostrich-Sans/OstrichSansDashed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSans-.otf';
    src: url('Ostrich-Sans/OstrichSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSans-.otf';
    src: url('Ostrich-Sans/OstrichSans-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSans-Heavy.otf';
    src: url('Ostrich-Sans/OstrichSans-Heavy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSans-.otf';
    src: url('Ostrich-Sans/OstrichSans-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'OstrichSans-.otf';
    src: url('Ostrich-Sans/OstrichSans-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		