

    /*
    OTF
    */

    

@font-face {
    font-family: 'Ostrich Sans Rounded';
    src: url('Ostrich-Sans/OstrichSansRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans Inline';
    src: url('Ostrich-Sans/OstrichSansInline-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans Inline';
    src: url('Ostrich-Sans/OstrichSansInline-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'Ostrich Sans Dashed';
    src: url('Ostrich-Sans/OstrichSansDashed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans';
    src: url('Ostrich-Sans/OstrichSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans';
    src: url('Ostrich-Sans/OstrichSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans';
    src: url('Ostrich-Sans/OstrichSans-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans';
    src: url('Ostrich-Sans/OstrichSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Ostrich Sans';
    src: url('Ostrich-Sans/OstrichSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

        