
	
	/*
	Oswald
	*/
	
	

@font-face {
    font-family: 'Oswald-Heavy.otf';
    src: url('Oswald/stencil/800/src/Oswald-Heavy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/stencil/700/src/Oswald-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Demi.otf';
    src: url('Oswald/stencil/600/src/Oswald-DemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/stencil/500/src/Oswald-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/stencil/400/src/Oswald-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/stencil/300/src/Oswald-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Extra.otf';
    src: url('Oswald/stencil/200/src/Oswald-ExtraLight.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Stencil.otf';
    src: url('Oswald/other/Stencil/Oswald-Stencil.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Heavy.otf';
    src: url('Oswald/3.0/Roman/800/src/Oswald-Heavy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/3.0/Roman/700/src/Oswald-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Demi.otf';
    src: url('Oswald/3.0/Roman/600/src/Oswald-DemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/3.0/Roman/500/src/Oswald-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/3.0/Roman/400/src/Oswald-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/3.0/Roman/300/src/Oswald-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Extra.otf';
    src: url('Oswald/3.0/Roman/200/src/Oswald-ExtraLight.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Heavy-Italic.otf';
    src: url('Oswald/3.0/Italic/800/src/Oswald-Heavy-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Italic.otf';
    src: url('Oswald/3.0/Italic/700/src/Oswald-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Demi-Italic.otf';
    src: url('Oswald/3.0/Italic/600/src/Oswald-Demi-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Demi--Italic.otf';
    src: url('Oswald/3.0/Italic/600/src/Oswald-Demi-Bold-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Italic.otf';
    src: url('Oswald/3.0/Italic/500/src/Oswald-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Italic.otf';
    src: url('Oswald/3.0/Italic/400/src/Oswald-RegularItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Italic.otf';
    src: url('Oswald/3.0/Italic/300/src/Oswald-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-Extra-Italic.otf';
    src: url('Oswald/3.0/Italic/200/src/Oswald-Extra-LightItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.3/Regular/src/Oswald-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.3/Light/src/Oswald-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.3/Bold/src/Oswald-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.0/src/Oswald-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.0/src/Oswald-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/2.0/src/Oswald-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald.otf';
    src: url('Oswald/1.0/Regular/FINAL/src/Oswald.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/1.0/Light/FINAL/src/Oswald-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Oswald-.otf';
    src: url('Oswald/1.0/Bold/FINAL/src/Oswald-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		