
	
	/*
	Phudu
	*/
	
	

@font-face {
    font-family: 'Phudu-VariableFont_wght';
    src: url('Phudu/Phudu-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu-Semi';
    src: url('Phudu/static/Phudu-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-ExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Phudu';
    src: url('Phudu/static/Phudu-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		