
	
	/*
	Playfair_Display_SC
	*/
	
	

@font-face {
    font-family: 'PlayfairDisplaySC-.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-.ttf';
    src: url('Playfair_Display_SC/PlayfairDisplaySC-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		