
	
	/*
	Playfair_Display
	*/
	
	

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('Playfair_Display/PlayfairDisplaySC-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic';
    src: url('Playfair_Display/PlayfairDisplaySC-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic';
    src: url('Playfair_Display/PlayfairDisplaySC-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('Playfair_Display/PlayfairDisplaySC-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC-Italic';
    src: url('Playfair_Display/PlayfairDisplaySC-BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('Playfair_Display/PlayfairDisplaySC-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('Playfair_Display/PlayfairDisplay-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('Playfair_Display/PlayfairDisplay-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('Playfair_Display/PlayfairDisplay-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('Playfair_Display/PlayfairDisplay-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('Playfair_Display/PlayfairDisplay-BlackItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('Playfair_Display/PlayfairDisplay-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		