

    /*
    TTF
    */

    

@font-face {
    font-family: 'Poller One';
    src: url('Poller_One/PollerOne.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        