

    /*
    TTF
    */

    

@font-face {
    font-family: 'pragmasevka nf';
    src: url('pragmasevka/shared/Pragmasevka_NF/pragmasevka-nf-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'pragmasevka nf';
    src: url('pragmasevka/shared/Pragmasevka_NF/pragmasevka-nf-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'pragmasevka nf';
    src: url('pragmasevka/shared/Pragmasevka_NF/pragmasevka-nf-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

        

@font-face {
    font-family: 'pragmasevka nf';
    src: url('pragmasevka/shared/Pragmasevka_NF/pragmasevka-nf-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'pragmasevka';
    src: url('pragmasevka/shared/Pragmasevka/pragmasevka-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'pragmasevka';
    src: url('pragmasevka/shared/Pragmasevka/pragmasevka-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'pragmasevka';
    src: url('pragmasevka/shared/Pragmasevka/pragmasevka-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

        

@font-face {
    font-family: 'pragmasevka';
    src: url('pragmasevka/shared/Pragmasevka/pragmasevka-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

        