
	
	/*
	pt-serif
	*/
	
	

@font-face {
    font-family: 'PTZ56F.ttf';
    src: url('pt-serif/PTZ56F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PTZ55F.ttf';
    src: url('pt-serif/PTZ55F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PTF76F.ttf';
    src: url('pt-serif/PTF76F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PTF75F.ttf';
    src: url('pt-serif/PTF75F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PTF56F.ttf';
    src: url('pt-serif/PTF56F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PTF55F.ttf';
    src: url('pt-serif/PTF55F.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		