
	
	/*
	pt_mono
	*/
	
	

@font-face {
    font-family: 'PT Mono_';
    src: url('pt_mono/Fonts/PT Mono_Regular/PT Mono_Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'PT Mono_';
    src: url('pt_mono/Fonts/PT Mono_Bold/PT Mono_Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		