

    /*
    OTF
    */

    

@font-face {
    font-family: 'QTOld Goudy';
    src: url('qt_old_goudy/QTOldGoudy.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'QTOld Goudy';
    src: url('qt_old_goudy/QTOldGoudy-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'QTOld Goudy';
    src: url('qt_old_goudy/QTOldGoudy-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        