

    /*
    OTF
    */

    

@font-face {
    font-family: 'QTSchool Century';
    src: url('qt_school_century/QTSchoolCentury.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'QTSchool Century';
    src: url('qt_school_century/QTSchoolCentury-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'QTSchool Century';
    src: url('qt_school_century/QTSchoolCentury-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'QTSchool Century';
    src: url('qt_school_century/QTSchoolCentury-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        