

    /*
    OTF
    */

    

@font-face {
    font-family: 'QTAvanti';
    src: url('qt_avanti/QTAvanti.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'QTAvanti';
    src: url('qt_avanti/QTAvanti-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        