
	
	/*
	qt_caslan
	*/
	
	

@font-face {
    font-family: 'QTCaslanOpen';
    src: url('qt_caslan/QTCaslanOpen.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTCaslan-Italic';
    src: url('qt_caslan/QTCaslan-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTCaslan-Italic';
    src: url('qt_caslan/QTCaslan-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		