

    /*
    OTF
    */

    

@font-face {
    font-family: 'QTCaslan Open';
    src: url('qt_caslan/QTCaslanOpen.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

        

@font-face {
    font-family: 'QTCaslan';
    src: url('qt_caslan/QTCaslan-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        