
	
	/*
	qt_old_goudy
	*/
	
	

@font-face {
    font-family: 'QTOldGoudy.otf';
    src: url('qt_old_goudy/QTOldGoudy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTOldGoudy-Italic.otf';
    src: url('qt_old_goudy/QTOldGoudy-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTOldGoudy-.otf';
    src: url('qt_old_goudy/QTOldGoudy-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		