
	
	/*
	qt_school_century
	*/
	
	

@font-face {
    font-family: 'QTSchoolCentury.otf';
    src: url('qt_school_century/QTSchoolCentury.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTSchoolCentury-Italic.otf';
    src: url('qt_school_century/QTSchoolCentury-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTSchoolCentury-Italic.otf';
    src: url('qt_school_century/QTSchoolCentury-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTSchoolCentury-.otf';
    src: url('qt_school_century/QTSchoolCentury-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		