

    /*
    OTF
    */

    

@font-face {
    font-family: 'QTWeise';
    src: url('qt_weise/QTWeise.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'QTWeise';
    src: url('qt_weise/QTWeise-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'QTWeise';
    src: url('qt_weise/QTWeise-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        