
	
	/*
	qt_weise
	*/
	
	

@font-face {
    font-family: 'QTWeise.otf';
    src: url('qt_weise/QTWeise.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTWeise-Italic.otf';
    src: url('qt_weise/QTWeise-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'QTWeise-.otf';
    src: url('qt_weise/QTWeise-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		