
	
	/*
	redaction
	*/
	
	

@font-face {
    font-family: 'Redaction70';
    src: url('redaction/OTF/Redaction70-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction70-Italic';
    src: url('redaction/OTF/Redaction70-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction70';
    src: url('redaction/OTF/Redaction70-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction50';
    src: url('redaction/OTF/Redaction50-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction50-Italic';
    src: url('redaction/OTF/Redaction50-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction50';
    src: url('redaction/OTF/Redaction50-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction35';
    src: url('redaction/OTF/Redaction35-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction35-Italic';
    src: url('redaction/OTF/Redaction35-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction35';
    src: url('redaction/OTF/Redaction35-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction20';
    src: url('redaction/OTF/Redaction20-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction20-Italic';
    src: url('redaction/OTF/Redaction20-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction20';
    src: url('redaction/OTF/Redaction20-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction100';
    src: url('redaction/OTF/Redaction100-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction100-Italic';
    src: url('redaction/OTF/Redaction100-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction100';
    src: url('redaction/OTF/Redaction100-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction10';
    src: url('redaction/OTF/Redaction10-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction10-Italic';
    src: url('redaction/OTF/Redaction10-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction10';
    src: url('redaction/OTF/Redaction10-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction';
    src: url('redaction/OTF/Redaction-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction-Italic';
    src: url('redaction/OTF/Redaction-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Redaction';
    src: url('redaction/OTF/Redaction-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		