

    /*
    OTF
    */

    

@font-face {
    font-family: 'Redacted Script';
    src: url('redacted-font/RedactedScript/fonts/otf/RedactedScript-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Redacted Script';
    src: url('redacted-font/RedactedScript/fonts/otf/RedactedScript-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Redacted Script';
    src: url('redacted-font/RedactedScript/fonts/otf/RedactedScript-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Redacted';
    src: url('redacted-font/Redacted/fonts/otf/Redacted-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        