
	
	/*
	Rokkitt
	*/
	
	

@font-face {
    font-family: 'Rokkitt-VariableFont_wght.ttf';
    src: url('Rokkitt/Rokkitt-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic-VariableFont_wght.ttf';
    src: url('Rokkitt/Rokkitt-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-ThinItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Thin.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-SemiItalic.ttf';
    src: url('Rokkitt/static/Rokkitt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Semi.ttf';
    src: url('Rokkitt/static/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-LightItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-ExtraItalic.ttf';
    src: url('Rokkitt/static/Rokkitt-ExtraLightItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Extra.ttf';
    src: url('Rokkitt/static/Rokkitt-ExtraLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-ExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-Italic.ttf';
    src: url('Rokkitt/static/Rokkitt-BlackItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rokkitt-.ttf';
    src: url('Rokkitt/static/Rokkitt-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		