
	
	/*
	Rondal
	*/
	
	

@font-face {
    font-family: 'Rondal-Semi.otf';
    src: url('Rondal/Rondal-Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rondal-.otf';
    src: url('Rondal/Rondal-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Rondal-.otf';
    src: url('Rondal/Rondal-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		