

    /*
    OTF
    */

    

@font-face {
    font-family: 'Rondal';
    src: url('Rondal/Rondal-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Rondal';
    src: url('Rondal/Rondal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Rondal';
    src: url('Rondal/Rondal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        