
@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaUltraCondensed-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaUltraCondensed-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaUltraCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
