
@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/SairaSemiExpanded/woff2/SairaSemiExpanded-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaSemiExpanded/woff/SairaSemiExpanded-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaSemiExpanded/ttf/SairaSemiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
