
@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiCondensed-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiCondensed-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
