

    /*
    OTF
    */

    

@font-face {
    font-family: 'Saira Stencil One';
    src: url('Saira/SairaStencilOne/fonts/otf/SairaStencilOne-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Ultra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaUltraCondensed-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/otf/SairaSemiExpanded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('Saira/Saira/fonts/otf/SairaSemiCondensed-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('Saira/Saira/fonts/otf/SairaExtraCondensed-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/otf/SairaExpanded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira Condensed';
    src: url('Saira/Saira/fonts/otf/SairaCondensed-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/otf/Saira-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        