
@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/SairaExpanded/woff2/SairaExpanded-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/SairaExpanded/woff/SairaExpanded-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/SairaExpanded/ttf/SairaExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
