
@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaExpanded-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaExpanded-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
