
@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira';
    src: url('Saira/Saira/fonts/webfonts/Saira-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/Saira-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/Saira-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
