
@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Thin.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Thin.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-ThinItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-ThinItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-ExtraLight.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraLight.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-ExtraLightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraLightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Light.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Light.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-LightItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-LightItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Regular.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Regular.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Italic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Italic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Medium.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Medium.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-MediumItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-MediumItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-SemiBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-SemiBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-SemiBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-SemiBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Bold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Bold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-BoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-BoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-ExtraBold.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraBold.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-ExtraBoldItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-ExtraBoldItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-Black.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-Black.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Saira Semi Expanded';
    src: url('Saira/Saira/fonts/webfonts/SairaSemiExpanded-BlackItalic.woff2') format('woff2'),
         url('Saira/Saira/fonts/otf/SairaSemiExpanded-BlackItalic.otf') format('opentype'),
         url('Saira/Saira/fonts/ttf/SairaSemiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
