
@font-face{
    font-family: 'Saira VF';
    src: url('Saira/Saira/fonts/Saira/variable/Saira[wdth,wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    font-variation-settings: 'wdth' var(--text-wdth);
}

@font-face{
    font-family: 'Saira VF';
    src: url('Saira/Saira/fonts/Saira/variable/Saira-Italic[wdth,wght].ttf') format('truetype-variations');
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: italic;
    font-variation-settings: 'wdth' var(--text-wdth);
}

