

    /*
    OTF
    */

    

@font-face {
    font-family: 'Sangha Kali';
    src: url('sangha_kali/SanghaKali-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        