
	
	/*
	sangha_kali
	*/
	
	

@font-face {
    font-family: 'SanghaKali-.otf';
    src: url('sangha_kali/SanghaKali-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		