
	
	/*
	Sansita_Swashed
	*/
	
	

@font-face {
    font-family: 'SansitaSwashed-VariableFont_wght.ttf';
    src: url('Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-Semi.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-ExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SansitaSwashed-.ttf';
    src: url('Sansita_Swashed/static/SansitaSwashed-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		