

    /*
    TTF
    */

    

@font-face {
    font-family: 'Siruca Pictograms1.1';
    src: url('SirucaPictograms/SirucaPictograms1.1_.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        