
	
	/*
	SirucaPictograms
	*/
	
	

@font-face {
    font-family: 'SirucaPictograms1.1_.ttf';
    src: url('SirucaPictograms/SirucaPictograms1.1_.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		