
	
	/*
	sparks
	*/
	
	

@font-face {
    font-family: 'Sparks-Dotline';
    src: url('sparks/output/otf/Sparks-Dotline-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dotline';
    src: url('sparks/output/otf/Sparks-Dotline-Thick.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dotline';
    src: url('sparks/output/otf/Sparks-Dotline-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dotline';
    src: url('sparks/output/otf/Sparks-Dotline-Extrathin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dotline';
    src: url('sparks/output/otf/Sparks-Dotline-Extrathick.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dot-Small';
    src: url('sparks/output/otf/Sparks-Dot-Small.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dot';
    src: url('sparks/output/otf/Sparks-Dot-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dot-Large';
    src: url('sparks/output/otf/Sparks-Dot-Large.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dot-Extrasmall';
    src: url('sparks/output/otf/Sparks-Dot-Extrasmall.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Dot-Extralarge';
    src: url('sparks/output/otf/Sparks-Dot-Extralarge.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Bar-Wide';
    src: url('sparks/output/otf/Sparks-Bar-Wide.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Bar-Narrow';
    src: url('sparks/output/otf/Sparks-Bar-Narrow.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Bar';
    src: url('sparks/output/otf/Sparks-Bar-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Bar-Extrawide';
    src: url('sparks/output/otf/Sparks-Bar-Extrawide.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Sparks-Bar-Extranarrow';
    src: url('sparks/output/otf/Sparks-Bar-Extranarrow.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		