
@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-ExtraLight.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-ExtraLightItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-Light.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-LightItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-Regular.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-Italic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-Medium.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-MediumItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-SemiBold.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-SemiBoldItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-Bold.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-BoldItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-ExtraBold.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Spectral SmallCaps';
    src: url('Spectral/fonts/sc_otf/SpectralSC-ExtraBoldItalic.otf') format('opentype'),
         url('Spectral/fonts/sc/SpectralSC-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
