

    /*
    OTF
    */

    

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral';
    src: url('Spectral/fonts/otf/Spectral-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

        

@font-face {
    font-family: 'Spectral SC';
    src: url('Spectral/fonts/otf/SC/SpectralSC-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

        