

    /*
    OTF
    */

    

@font-face {
    font-family: 'Spicy Noodles';
    src: url('Spicy.Noodles/Spicy-Noodles-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Spicy Noodles';
    src: url('Spicy.Noodles/Spicy-Noodles-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        