

    /*
    OTF
    */

    

@font-face {
    font-family: 'Spicy Noodles';
    src: url('Spicy.Noodles/Spicy-Noodles-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Spicy Noodles';
    src: url('Spicy.Noodles/Spicy-Noodles-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

        