
	
	/*
	Spicy.Noodles
	*/
	
	

@font-face {
    font-family: 'Spicy-Noodles-.otf';
    src: url('Spicy.Noodles/Spicy-Noodles-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Spicy-Noodles-Italic.otf';
    src: url('Spicy.Noodles/Spicy-Noodles-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		