
	
	/*
	Subjectivity
	*/
	
	

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-ThinSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-SuperSlanted.otf';
    src: url('Subjectivity/Subjectivity-SuperSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Super.otf';
    src: url('Subjectivity/Subjectivity-Super.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-RegularSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-MediumSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-LightSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-ExtraBoldSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-BoldSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-Slanted.otf';
    src: url('Subjectivity/Subjectivity-BlackSlanted.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Subjectivity-.otf';
    src: url('Subjectivity/Subjectivity-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Thin-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Super.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Super.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Super-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Super-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Regular-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Medium-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Light-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-ExtraBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-ExtraBold-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Bold-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'SubjectivitySerif-Italic.otf';
    src: url('Subjectivity/Subjectivity Serif/SubjectivitySerif-Black-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		