

    /*
    OTF
    */

    

@font-face {
    font-family: 'symbol signs';
    src: url('Symbol-Signs/symbol-signs.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        