

    /*
    OTF
    */

    

@font-face {
    font-family: 'Tomson Talks';
    src: url('tomsontalks/TomsonTalks.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        