

    /*
    TTF
    */

    

@font-face {
    font-family: 'Topography Roman Upright';
    src: url('topography/Topography-RomanUpright.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Topography Roman Right';
    src: url('topography/Topography-RomanRight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Topography Roman Left';
    src: url('topography/Topography-RomanLeft.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Topography Upright';
    src: url('topography/Topography-ItalicUpright.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Topography Right';
    src: url('topography/Topography-ItalicRight.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Topography Left';
    src: url('topography/Topography-ItalicLeft.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        