
	
	/*
	topography
	*/
	
	

@font-face {
    font-family: 'Topography-RomanUpright';
    src: url('topography/Topography-RomanUpright.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-RomanRight';
    src: url('topography/Topography-RomanRight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-RomanLeft';
    src: url('topography/Topography-RomanLeft.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicUpright';
    src: url('topography/Topography-ItalicUpright.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicRight';
    src: url('topography/Topography-ItalicRight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicLeft';
    src: url('topography/Topography-ItalicLeft.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		