
	
	/*
	topography
	*/
	
	

@font-face {
    font-family: 'Topography-RomanUpright.ttf';
    src: url('topography/Topography-RomanUpright.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-RomanRight.ttf';
    src: url('topography/Topography-RomanRight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-RomanLeft.ttf';
    src: url('topography/Topography-RomanLeft.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicUpright.ttf';
    src: url('topography/Topography-ItalicUpright.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicRight.ttf';
    src: url('topography/Topography-ItalicRight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Topography-ItalicLeft.ttf';
    src: url('topography/Topography-ItalicLeft.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		