

    /*
    TTF
    */

    

@font-face {
    font-family: 'Torre Farfan v2';
    src: url('torrefarfan/TorreFarfan_v2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        