

    /*
    OTF
    */

    

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Mono';
    src: url('Ubuntu-Sans-Mono-fonts/fonts/otf/UbuntuSansMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        