

    /*
    OTF
    */

    

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSansCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('Ubuntu-Sans-fonts/fonts/otf/UbuntuSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        