
	
	/*
	UnifrakturCook
	*/
	
	

@font-face {
    font-family: 'UnifrakturCook';
    src: url('UnifrakturCook/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		