

    /*
    TTF
    */

    

@font-face {
    font-family: 'Unifont Ex Mono';
    src: url('UnifontEX/UnifontExMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'Calc Unifont Ex Mono';
    src: url('UnifontEX/WasmShaperBuilds/Other/CalcUnifontExMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        

@font-face {
    font-family: 'BFUnifont Ex Mono';
    src: url('UnifontEX/WasmShaperBuilds/CodeInterpreter/BFUnifontExMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

        