
	
	/*
	Unna
	*/
	
	

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Unna-Italic';
    src: url('Unna/Unna-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Unna-Italic';
    src: url('Unna/Unna-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		