

    /*
    TTF
    */

    

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Unna';
    src: url('Unna/Unna-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        