
	
	/*
	urw_gothic
	*/
	
	

@font-face {
    font-family: 'URWGothic-DemiOblique.otf';
    src: url('urw_gothic/URWGothic-DemiOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWGothic-Demi.otf';
    src: url('urw_gothic/URWGothic-Demi.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWGothic-BookOblique.otf';
    src: url('urw_gothic/URWGothic-BookOblique.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		

@font-face {
    font-family: 'URWGothic-Book.otf';
    src: url('urw_gothic/URWGothic-Book.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		