
	
	/*
	YoungSerif
	*/
	
	

@font-face {
    font-family: 'YoungSerif-.otf';
    src: url('YoungSerif/fonts/YoungSerif-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

		