

    /*
    VARIABLE
    */

    

@font-face {
    font-family: 'Young Serif VF';
    src: url('YoungSerif/fonts/variable/Young-Serif[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
}

        

@font-face {
    font-family: 'Young Serif VF';
    src: url('YoungSerif/fonts/variable/Young-Serif-Italic[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: italic;
    
    
    
    
}

        

@font-face {
    font-family: 'Young Serif VF';
    src: url('YoungSerif/docs/proof/Young-Serif[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
}

        

@font-face {
    font-family: 'Young Serif SC VF';
    src: url('YoungSerif/docs/proof/Young-SerifSC[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: normal;
    
    
    
    
}

        

@font-face {
    font-family: 'Young Serif SC VF';
    src: url('YoungSerif/docs/proof/Young-SerifSC-Italic[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: italic;
    
    
    
    
}

        

@font-face {
    font-family: 'Young Serif VF';
    src: url('YoungSerif/docs/proof/Young-Serif-Italic[wght].ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 100 950;
    font-stretch: 75% 125%;
    font-style: italic;
    
    
    
    
}

        