
	
	/*
	Zhi_Mang_Xing
	*/
	
	

@font-face {
    font-family: 'ZhiMangXing-.ttf';
    src: url('Zhi_Mang_Xing/ZhiMangXing-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

		