

    /*
    OTF
    */

    

@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlabHighlight-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlabHighlight-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        

@font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-feature-settings: "liga" on, "kern" on;
    font-display: auto;
}

        