
@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Light.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-Light.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-LightItalic.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-LightItalic.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Regular.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-Regular.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Italic.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-Italic.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Medium.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-Medium.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-MediumItalic.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-MediumItalic.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-SemiBold.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-SemiBold.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-SemiBoldItalic.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-SemiBoldItalic.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-Bold.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-Bold.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('Zilla-Slab/fonts_OTF/ZillaSlab-BoldItalic.otf') format('opentype'),
         url('Zilla-Slab/fonts_WOFF/ZillaSlab-BoldItalic.woff') format('woff'),
         url('Zilla-Slab/fonts_TTF/ZillaSlab-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

